{% extends "posts/main.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Piotr Pawełczak</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'greetings:homepage' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'greetings:about_me' %}">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'greetings:contact' %}">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'maths:list' %}">Maths</a>
          </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'posts:posts_list' %}">Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Add">
 </form>
 <table>
  <thead>
    <th>Title</th>
    <th>Created</th>
    <th>Author</th>
  </thead>
  <tbody>
    {% for p in posts %}
      <tr>
        <td style="width:250px;"><a href="{% url 'posts:post_details' p.id %}">{{ p.title }}</a></td>
        <td style="width:250px;">{{ p.created }}</td>
        <td style="width:100px;">{{ p.author.nick }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
      {% if posts.has_previous %}
          <a href="?page=1">« first</a>
          <a href="?page={{ posts.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
      </span>

      {% if posts.has_next %}
          <a href="?page={{ posts.next_page_number }}">next</a>
          <a href="?page={{ posts.paginator.num_pages }}">last »</a>
      {% endif %}
  </span>
  </div>
{% endblock %}
